body {

  background-image: url('/images/bg5.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 50px 50px rgba(0, 0,0, 0.2);
}

.hero {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.sections {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.hero img.bg {
  position: absolute;
  left: 0;
  height: 100%;
}
.vignette {
}
.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.center-menu,
.center-footer {
  position: absolute;
  width: 100%;
  color: #fff;
  font-family: 'Bitter', serif;
  user-select: none;
  border-radius: 10px;
}
.center-menu {

  transform: translate(-50%, -25%);
  left: 50%;
  top: 25%;
}
.center-menu .items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.center-menu .banner,
.center-menu .menu {
  padding: 25px 70px;
}
.center-menu .banner {
  text-transform: uppercase;
  text-align: center;
  margin: 0 20px;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  font-family: 'Oswald', sans-serif;

}
.center-menu .banner .subtitle {
  font-size: 30px;
  margin: 0;
}
.center-menu .banner h1 {
  font-size: 120px;
  margin: 0;
}
.center-menu .menu {
  /* border: 1px solid #ccc; */
  font-size: 35px;
  text-transform: lowercase;
}
.center-menu .menu .section {
  margin-top: 20px;
  font-size: 15px;
  color: #ddd;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.center-menu .menu a.title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
.center-menu .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.center-menu .menu ul li {
  margin: 25px 0;
}
.center-menu .menu ul a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid;
  transition: color 0.2s ease;
}
.center-menu .menu ul a:hover {
  color: #dedede;
}

.center-footer {
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
}
.center-footer .coming-soon {
  margin: 20px 0;
  font-size: 20px;
  text-align: center;
}


.box-inner {
  width: 105%;
  height: 110%;
  margin-top:-5%;
  margin-bottom: -5%;
  margin-left: -5%;
}
.left {
  flex: 1;
  margin: 0;

  max-width: 100% !important;
  overflow: hidden;
  box-shadow: inset -300px 0 150px 0 rgba(0, 0,0, 0.4);
}
.right {
  width: 20%;
  color: #fff;
  display: inline-block;
  background-color: rgba(0,0,0,0.4);
  text-align: center;
}


#social-media-menu {
  /* opacity: 0; */
  /* transition: opacity 0.5s ease; */
}
#social-media-menu.shown {
  /* opacity: 1; */
}

@media (max-width: 1100px) {
  body {
    background-position: unset;
  }
  .center-menu .banner,
  .center-menu .menu {
    padding-left: 0;
    padding-right: 0;
  }
  .center-menu .banner h1 {
    font-size: 70px;
  }
  .center-menu .banner .subtitle {
    font-size: 22px;
  }
  .center-menu .items {
    flex-direction: column;
  }

  .center-footer .coming-soon {
    font-size: 16px;
  }
}
