
<h1 class="contact-title">Contact The Band</h1>

<p class="contact-description">
  We will respond to your message via the email you provide to us below.<br/>
  <br/>
  You can also send us an email at <a href="mailto:band@getreal.band">band@getreal.band</a>, or reach
  out to us using the social media channels in the top-right corner of the menu.
</p>

<div id="contact-form" class="contact-form">
  <p id="contact-form-errors" style="display: none;">
  </p>

  <label for="email-box">Your Email Address</label>
  <input type="email" name="email" id="email-box"/>
  <label for="message-box">Your Message</label>
  <textarea rows="8" cols="5" name="message" id="message-box" data-form-field="required"></textarea>

  <div class="form-bottom">
    <button id="contact-button" class="button">
      Submit
    </button>
  </div>
</div>

<div id="contact-success-message" style="display: none">
  <div class="content"></div>
  <a href="/" class="link">
    Back to home
  </a>
</div>
