<article class="blogpost blogpost--full" data-nosidebar>
  <% if (typeof disableNavigation !== 'boolean' || !disableNavigation) { %>
    <div class="blog-nav">
      <a class="blog-nav-link" href="/merch">
        <i class="fas fa-arrow-left"></i> View all merch
      </a>
    </div>
  <% } %>

  <% try { %>
    <% console.log(merchItems) %>
    <% var index = merchItems.findIndex(item => item.slug == params[0]) %>
    <% if (index === -1) { %>
      <% throw Error('Merch not found.') %>
    <% } %>
    <% var item = merchItems[index] %>

    <h1>
      <a href="/merch/<%= item.slug %>">
        <%= item.title %>
      </a>
      <a class="hash-link" href="/merch#<%= item.slug %>">#</a>
    </h1>

    <%- item.content %>

  <% } catch (err) { %>
    <% console.error(err) %>
    The item could not be found.<br/>

    <% if (typeof disableNavigation !== 'boolean' || !disableNavigation) { %>
      <a href="/merch" data-hashlink>
        Return to merch
      </a>
    <% } %>
  <% } %>
</article>
