<!DOCTYPE html>
<html>
  <head>
    <style>
      html, body {
        padding: 0;
        margin: 0;
      }
      body {
        width: 100%;
        margin: 0;
      }
      .drop-in {
        animation: drop-in 1.5s ease-in;
        animation-fill-mode: forwards;
        animation-delay: 1s;
        opacity: 0;
      }
      .drop-in-2 {
        animation-delay: 0.75s;
      }
      .drop-in-3 {
        animation-delay: 1.25s;
      }
      .parallax.shake {
        z-index: 0;
        position: absolute;
      }
      .shake {
        animation: shake 0.85s cubic-bezier(.2,.07,.19,.17) both infinite;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
        z-index: 3;
      }
      .shake-2 {
        animation: shake-2 0.95s cubic-bezier(.2,.07,.19,.17) both infinite;

        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
        z-index: 3;
      }
      .shake-3 {
        animation: shake-2 1.05s cubic-bezier(.2,.07,.19,.17) both infinite;

        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
        z-index: 3;
      }
      #teaser {
        background: #e6ddd4;
        background: url('/images/teaser/tile.png') repeat;
        background-size: 280px 280px;
        width: 1000px;
        height: 680px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Futura', sans-serif;
        overflow-y: hidden;
      }
      #teaser .bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
      }
      #teaser .bottom img {
        width: 300px;
        margin-top: 40px;
        transform: translateY(10px);
      }
      #teaser .content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
      }
      #teaser .content .img {
        display: flex;
        flex-direction: row;
        align-items: center;

        
      }
      #teaser .content img {
        width: 320px;
      }
      #teaser .titles {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        text-transform: uppercase;
        color: #fff;
        padding: 20px;
        text-align: right;
      }
      #teaser .titles h1 {
        font-weight: bold;
        font-size: 80px;
        margin: 0;
        margin-bottom: 10px;

        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 5px;
        -webkit-text-stroke-color: #693232;
        letter-spacing: 0.07em;
      }
      #teaser .titles h3 {
        font-size: 40px;
        margin: 0;

        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #693232;
        letter-spacing: 0.05em;
      }
      #teaser .titles.shake {
        animation: shake 0.9s cubic-bezier(.02,.07,.09,.03) both infinite;
      }

      @keyframes drop-in {
        0% {
          transform: scale3d(5, 5, 5);
          opacity: 0.5;
        }
        30% {
          transform: scale3d(1.05, 1.05, 1.05);
          opacity: 0.9;
        }
        40% {
          transform: scale3d(1, 1, 1);
          opacity: 1;
        }
        100% {
          transform: scale3d(1, 1, 1);
          opacity: 1;
        }
      }

      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 1px, 0) scale3d(1, 1, 1);
        }
        
        20%, 80% {
          transform: translate3d(2px, 0, 0) scale3d(1.007, 1.007, 1);
        }

        30%, 50%, 70% {
          transform: translate3d(-4px, -1px, 0)scale3d(1.002, 1.002, 1);
        }

        0%, 40%, 60% {
          transform: translate3d(4px, 0, 0) scale3d(1, 1, 1);
        }
      }

      @keyframes shake-2{
        10%, 90% {
          transform: translate3d(1px, -1px, 0) scale3d(1, 1, 1);
        }
        
        20%, 80% {
          transform: translate3d(-2px, 0, 0) scale3d(1.007, 1.007, 1);
        }

        30%, 50%, 70% {
          transform: translate3d(4px, 1px, 0)scale3d(1.002, 1.002, 1);
        }

        0%, 40%, 60% {
          transform: translate3d(-4px, 0, 0) scale3d(1, 1, 1);
        }
      }
    </style>
  </head>
  <body>
    <div id="teaser">
      <div class="content">
        <div class="titles shake">
          <h1 style="font-size: 120px;">New EP</h1>
        </div>

      </div>

      <div class="middle shake-3">
        <div class="titles drop-in">
          <h1>This Summer</h1>
        </div>
      </div>
      <div class="bottom shake-2">
        <div class="parallax shake">
          <img src="/images/teaser/sticker1.png">
        </div>
        <img src="/images/teaser/sticker1.png">
      </div>
    </div>
  </body>
</html>