<!DOCTYPE html>
<html>
  <head>
    <style>
      html, body {
        margin: 0;
        padding: 0;
      }
      .center {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        box-sizing: border-box;
        background: #fff;
        /* background: black; */
        background: #F58873;
        background: #E0251B;
        background: #3B2A8A;
        background: #650AE8;
        /* background: white; */
        /* border: 100px solid white; */
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /* background-image: radial-gradient(
          rgba(30,30,30, 0.75), black 120%
        );
        text-shadow: 0 0 9px #c6d5d5; */
        
      }

      /* .center::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: repeating-linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.15),
          rgba(0, 0, 0, 0.15) 1px,
          transparent 1px,
          transparent 2px
        );
        pointer-events: none;
      } */

      .text {

        /* background: rgb(204, 0, 0); */
      }

      .text span {
        box-sizing: content-box;
        color: white;
        /* background: white; */
        padding-bottom: 15px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 0px;
        /* border-bottom: none !important; */
      }
      .text span:nth-child(1) {
        border-bottom: 15px solid rgb(0, 0, 0);
        /* border-top: 15px solid rgb(204, 204, 204); */
      }
      .text span:nth-child(2) {
        border-bottom: 15px solid rgb(51, 0, 0);
        /* border-top: 15px solid rgb(153, 153, 153); */
      }
      .text span:nth-child(3) {
        border-bottom: 15px solid rgb(102, 0, 0);
        /* border-top: 15px solid rgb(102, 102, 102); */
      }
      .text span:nth-child(4) {
        border-bottom: 15px solid rgb(153, 0, 0);
        /* border-top: 15px solid rgb(51, 51, 51); */
      }
      .text span:nth-child(5) {
        border-bottom: 15px solid rgb(204, 0, 0);
        /* border-top: 15px solid rgb(0, 0, 0); */
      }
      /* .text span:nth-child(2),
      .text span:nth-child(4) {
        color: black;
        background: white;
      } */

      .text {
        font-family: 'Times New Roman';
        font-family: "Futura";
        font-variant: all-small-caps;
        padding: 20px;
        /* font-family: "LCD2"; */
        /* font-style: italic; */
        font-size: 160px;
        border: none;
        text-align: center;
        color: white;
        letter-spacing: 0.07em;
        /* color: #fff; */
        /* color: #e4f3f3; */
        outline: none;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      #text-content {
        margin-top: -24px;
      }

      #text-content::after {
        display: none;

        content: '';
        position: absolute;
        width: 3px;
        height: 130px;
        margin-left: 20px;
        margin-top: 25px;
        background: #000;
        z-index: 10;
        /* margin-left: 40px; */
        /* margin-top: 1px; */
        /* padding-bottom: 1px; */
        /* background: #eee; */
        /* transform: skewX(-18deg); */
        /* box-shadow: 0 0 5px #C8C8C8; */
      }

      #text-content.blinking::after {
        /* animation-name: blinking-caret;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite; */
      }

      @keyframes blinking-caret {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        80%, 90%, 100% {
          opacity: 1;
        }
      }
    </style>
  </head>
  <body>
    <div class="center">
      <div class="text">
        <div id="text-content">

          <span>The</span>
          <span>world</span>
          <span>is</span>
          <span>on</span>
          <span>fire</span>
        </div>
        <div id="text-below"></div>
      </div>
    </div>


    <script>
      throw 'blah';
      document.addEventListener('DOMContentLoaded',function(event){
      function typeWriter(text, element, i, fnCallback) {
        if (i < (text.length)) {
          element.innerHTML = text.substring(0, i+1) +'<span aria-hidden="true"></span>';

          setTimeout(function() {
            typeWriter(text, element, i + 1, fnCallback)
          }, 100);
        } else if (typeof fnCallback == 'function') {
          setTimeout(fnCallback, 100);
        }
      }
      typeWriter('The world is on fire', document.getElementById('text-content'), 0, function() {
        document.getElementById('text-content').classList.add('blinking')

        // setTimeout(() => {
        //   typeWriter('An EP by: Get Real!', document.getElementById('text-below'), 0, () => {

        //   })
        // }, 400)
      });
    });
    </script>
  </body>
</html>